@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-regular.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-700.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-700italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url( ../fonts/lato-v23-latin-900.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/playfair-display-v29-latin-regular.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url( ../fonts/playfair-display-v29-latin-italic.woff2 ) format('woff2');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url( ../fonts/playfair-display-v29-latin-700.woff2 ) format('woff2');
}